<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Detalle del projecto</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">

</head>
<body>
<h1>Detalle del proyecto</h1>

<div th:if="${error}">
    <p th:text="${error}"></p>
</div>

<div th:if="${project}">
    <h2 th:text="${project.name}"></h2>
    <div>
        <strong>Descripción: </strong>
        <span th:if="${project.description !null}" th:text="${project.description}"></span>
        <span th:unless="${project.description != null}">Sin descripción</span>
    </div>
</div>

<!--<div>-->
<!--    <a th:href="@{/project}">Volver al listado de productos</a>-->
<!--</div>-->


</body>

</html>